.foto_item {
    width: 150px;
    float: left;
    text-align: center;

}
.foto_item img {
    width: 150px;
    height: 150px;
}

.alert-message{
    position: absolute;
    z-index: 2;
    top: 60px;
    left: 50%;
    max-width: 400px;
    margin-left: -200px;
    
}